@font-face {
    font-family: roboto;
    src: url(./roboto.ttf);
}

html {
    box-sizing: border-box;
    font-family: roboto, Helvetica, sans-serif;
}

body {

    margin: 0;
    padding: 0;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 10vw;
    background-color: #1f2937;
    color: white;
    flex-wrap: wrap;
}

.logo {
    width: 3rem;
}

.right-header {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

a {
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}

.first-part {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 10vw;
    background-color: #1f2937;
    color: white;
    gap: 2rem;
    flex-wrap: wrap;

}

.left-first {
    max-width: 60ch;
}

.right-first {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: auto;
}

.title-first {
    font-size: 3rem;
    font-weight: bolder;
    margin: 0;
}

.content-first {
    font-size: 1.2rem;
}

.button-first {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: .5em 1em;
    border-radius: 7px;
    border: 0;
}

.photo-first {
    border-radius: 10px;
    width: 100%;
}

.second-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 10vw;
}

.title-second {
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    padding-bottom: 4rem;
}

.selections {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo-second {
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.content-second {
    text-align: center;
}

.third-part {
    background-color: #E5E7EB;
    padding: 4rem 10vw;
}

.quote {
    font-size: 40px;
    font-weight: lighter;
    font-style: italic;
}

.author {
    text-align: end;
    font-weight: bold;
    font-size: 20px;
}

.fourth-part{
    display: flex;
    padding: 4rem 10vw;
    justify-content: center;
    align-items: center;
}

.card {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: white;
    border-radius: 7px;
    padding: 50px 100px;
}

.title-fourth {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.content-fourth {
    margin: 0;
}

.button-fourth {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: .5em 1em;
    border-radius: 7px;
    border: solid white 2px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #1f2937;
    color: white;
    padding: .5rem 10vw;
}